@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css';
@import '../../node_modules/@syncfusion/ej2-richtexteditor/styles/bootstrap5.css';



body {
  background: white;
}

strong {
  font-weight: bold;
}


/* Add custom CSS for the poll */
.poll {
  border: 2px solid #28a745;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #f8f9fa;
}
.poll ul {
  list-style: none;
  padding-left: 0;
}
.poll li {
  margin: 5px 0;
}

